@font-face {
  font-family: "PoppinsRegular";
  src:
    local("GoldmanRegular"),
    url("./fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "PoppinsBold";
  src:
    local("PoppinsBold"),
    url("./fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "PoppinsSemiBold";
  src:
    local("PoppinsSemiBold"),
    url("./fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: bolder;
}

.parent-container {
  font-family: "PoppinsRegular";
}
