.instruction-container {
  color: var(--light-grey-font-color);
  font-size: var(--text-font-size);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 50px;
}

.instruction-container:not(:last-of-type) {
  margin-bottom: 25px;
}

.instruction-text {
  padding: 0;
  margin: 0;
  width: 300px;
  font-family: sans-serif;
}
