#addImageButton {
  border: none;
  padding: 16px;
  background-color: #fdb958;
  color: #281700;
  border-radius: 15px;
  font-size: 24px;
  position: absolute;
  top: 520px;
  left: 0;
  right: 0;
  max-width: 250px;
  margin: 0 auto;
  cursor: pointer;
}

.image-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
