.kidquest {
  background-color: #373d71;
  top: -66px;
  width: 80px;
  height: 100px;
  border-radius: 1rem;
  position: relative;
  background: #373d71;
  cursor: pointer;
}

.kidquest img {
  width: 80px;
  height: 100px;
  border: 3px solid #373d71;
  border-radius: 1rem;
}
