.popup-kidquest {
  /* background-image: url("../images/takenPhotos/Mountain.jpg"); */
  position: absolute;
  top: 58px;
  width: 406px;
  height: 601px;
  border: 1px solid #ccc;
  z-index: 999;
  background-color: #f8f9fb;
  color: rgb(0, 0, 0);
}
