.container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-container {
  width: 100%;
  text-align: center;
}

.mission-container {
  width: 100%;
  text-align: space-between;
  margin-left: 30px;
  margin-top: -20px;
}

.mission-type-container h1 {
  font-family: "SF-Pro-Display-Regular", sans-serif;
  font-size: 30px;
  text-align: left;
}

.mission-name-container h1 {
  width: 90%;
  font-family: "SF-Pro-Display-Semibold", sans-serif;
  font-size: 30px;
  text-align: left;
  margin-top: -15px;
}
