.mode-nav {
  padding-top: 40px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.mode-and-map {
  width: 70px;
  display: flex;
  justify-content: space-between;
}

.mode-icon path,
.map-icon path,
.back path {
  transition: ease-out all 600ms;
}

.mode-icon:hover path,
.map-icon:hover path,
.back:hover path {
  stroke: var(--blue-accent-color);
}
