.menu-wrap {
  background-color: white;
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
}

.menu-link {
  display: inline-block;
  text-decoration: none;
  color: rgb(138, 146, 197);
  font-weight: 600;
  transition: ease-out all 600ms;
}

.menu-link:hover {
  color: rgb(43, 42, 42);
}

.active {
  color: rgb(43, 42, 42);
}
