.trekgo {
  background-color: transparent;
  top: -66px;
  width: 80px;
  height: 100px;
  position: relative;
  cursor: pointer;
}

.trekgo:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #fdb958;
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -10px;
}

.trekgo img {
  width: 80px;
  height: 100px;
  border-radius: 1rem;
}
